@media (max-width: 450px) {
    main #Perguntas > div{
        display: flex;
        flex-direction: column;
    }
    main #Perguntas input[type=submit]{
        width: 75px;
        margin: 30px;
    }
}

@media screen and (min-width: 768px){
    #sobre{
        flex-direction: row !important;
        justify-content: space-around;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    #mapa{
        flex-direction: row !important;
        justify-content: space-evenly !important;
    }

    #noticia{
        flex-direction: row !important;
        justify-content: space-between;
    }
}